<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class='navbar-brand' href="{% url 'index' %}">DJANGO</a>
        <ul class="navbar-nav">
          <li class="navbar-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
          {% if user.is_authenticated %}
          <li class="navbar-item"><a class="nav-link" href="{% url 'user_logout' %}">Logout</a></li>
          <li class="navbar-item"><a class="nav-link" href="{% url 'special' %}">Special</a></li>
          {% else %}
          <li class="navbar-item"><a class="nav-link" href="{% url 'password_app:register' %}">Register</a></li>
          <li class="navbar-item"><a class="nav-link" href="{% url 'password_app:user_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
